* {
	box-sizing: border-box;
	text-align: center;
	background: #808080;
}

body {
	font-family: Sans-Serif;
	font-size: 17px;
	line-height: 28px;
	color: #ccc;
	margin-left: 11%;
	margin-right: 15%;
}

header {
	margin-bottom: 10px;
	padding: 20px;
	color: #808080;
	background: #F5F5F5;
}